COORDINATOR_ADDRESS=
TOKEN_ADDRESS=B62qn6D633QnbaCntRJVYaJ5DqY9KsegFH4yZ26pD6Rwyh7svN2CwhK
TREASURY_ADDRESS=
DEPLOYER_KEY=EKFZ6Wzcejbdzn9wJ34WoWBNXf1jwEm45WkQkpLMeGa79KoVZNWP
NODE='https://api.minascan.io/node/devnet/v1/graphql'
NODE_ARCHIVE='https://api.minascan.io/archive/devnet/v1/graphql'
USE_CUSTOM_LOCAL_NETWORK='true'
NETWORK='testnet'